html {

    font-size: 12px;
    height: 100%;
}

body {
    background-image: url("images/bg-intro-desktop.png");
    background-color: #ff7978;

    display: flex;
    height: 100%;
    
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing:border-box;
}

#content {

    display: block;

    
    width: 380px;

    margin: auto auto;
    padding: 25px 40px 40px;
    border-radius: 8px;
    box-shadow: 0 8px rgba(0, 0, 0, 0.15);

    background-color: white;
}




input, a {
    display: block;

    width: 100%;
    margin-top: 15px;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
 
    font-size: 1rem;
    font-family:inherit;
    font-weight: bold;

}


#submit input {

    font-weight: 500;

    color: white;
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0 4px rgba(0, 0, 0, 0.15);

    border: none;
}


input:focus, a:focus {
    outline: none;
}

p {
    width: 100%; 
    margin: 25px auto 20px; 

    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0;
} 
 
p span { 
    background:#fff; 
    padding:0 10px; 

    font-weight: bold;
}

a {

   
    width: 100%;

    font-weight: 500;
    text-decoration: none;
    text-align: center;
    color: #000;

    background-color: hsl(0, 0%, 90%);
    box-shadow: 0 4px rgba(0, 0, 0, 0.15);

    border: none;
}