<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="stylesheet" href="login.css">

    <script src="login.js"></script>

    <title>Login</title>

</head>

<body>

    <div id="content">

        
        <form name="loginForm" onsubmit="return validateLoginForm()" novalidate>
            
            
            
            <div class="formBlock" id="email">
                <input type="email" name="email" placeholder="Email address" oninput="inputChanged(this)">
                <p>Email cannot be empty</p>
                <p>Invalid email format</p>
            </div>
            
            <div class="formBlock" id="password">
                <input type="password" name="password" placeholder="Password" oninput="inputChanged(this)">
                <p>Password cannot be empty</p>
            </div>
            
            <div id="submit">
                <input type="submit" formmethod="post" value="LOGIN">
            </div>
            
        </form>
        
        <p id="orParagraph"><span>OR</span></p>

        <a href="register.html">REGISTER</a>
    </div>
        
    </body>

</html>