html {

    font-size: 12px;
    height: 100%;
}

body {
    background-image: url("images/bg-intro-desktop.png");
    background-color: #ff7978;

    display: flex;
    height: 100%;
    
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing:border-box;
}


#content {

    display: flex;
    align-items: center;
    margin: auto 160px;
    width: auto;
   
}

#jumbo {

    display: inline-block;

    
    width: 47%;
    margin: auto 6% auto 0;

    font-size: 1.5rem;
    
    color: white;
}



#rightBlock {

    display: inline-block;

    width: 47%;

}

#subscriptionInfo {

    padding: 10px;
    border-radius: 10px;

    text-align: center;
    color: white;

    box-shadow: 0 8px rgba(0, 0, 0, 0.15);
    background: #5d54a3;
}

/* form styling */
form {

    margin-top: 20px;
    padding: 1px 0;
    border-radius: 10px;

    box-shadow: 0 8px rgba(0, 0, 0, 0.15);
    background: white;
}

form div:first-child {

    margin-top: 40px;
}

form div {
      
    margin: 20px 10%;
}

input {
    display: block;

    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
 
    font-size: 1rem;
    font-family:inherit;
    font-weight: bold;

}

input:focus {
    outline: none;
}

.formBlock input {

    background-image: none;
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.formBlock p {

    display: none;

    margin: 2px 0 3px 0;
    text-align: right;

    font-size: 0.8rem;
    font-weight: 600;
    font-style: italic;

    color:  hsl(0, 100%, 74%);
}

#submit input {

    font-weight: 500;

    color: white;
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0 4px rgba(0, 0, 0, 0.15);

    border: none;
}

#submit p {
    
    text-align: center;
    
    font-size: 0.8rem;
    color: grey;
}

#submit p b {

    color:  hsl(0, 100%, 74%);
}

/* Changing Autocomplete style */
input:-webkit-autofill {
    /* Hack that allow overwriting autofill background */
    -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
}

@media only screen and (max-width: 992px) {

    html {

        font-size: 10px;
    }

    #content {

        margin: auto 80px;
    }

}

@media only screen and (max-width: 768px) {

    #content {

        flex-direction: column;
    }

    #jumbo {
        width: 85%;

        text-align: center;
        margin-right: 0;
    }

    #content {

        margin: auto 10px;
    }
    
    #rightBlock {
        
        margin-top: 40px;

        width:85%;
    }
}

